:root {
    --primary-color: #4A96FF;
    --secondary-color: #1661c9;
    
    --text-color-1: #FFFFFF;
    --text-color-2: #C5C7CA;
    --text-color-3: #7F8084;
    --text-color-4: #6B6C70;
    
    --background-color-primary: #131319;
    --background-color-secondary: #27292D;
}
