.button {
    width: 100%;

    &--primary {
        background-color: var(--primary-color);
        color: var(--text-color-1);
        border-radius: var(--border-radius-m);
    }

    &--small {
        padding: var(--spacing-xxs);
        font-size: var(--font-size-s);
    }

    &--medium {
        padding: var(--spacing-xs);
        font-size: var(--font-size-m);
    }

    &--large {
        padding: var(--spacing-s);
        font-size: var(--font-size-l);
    }
}