.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-s);

    &__label {
        color: var(--text-color-2);
    }

    &__box {
        width: -webkit-fill-available;
        padding: var(--spacing-s);
        border-radius: var(--border-radius-m);
        border: 1.5px solid #35373B;
        background-color: var(--background-color-secondary);
        color: var(--text-color-1);

        &::placeholder {
            color: var(--text-color-3);
          }
    }
}