.post {
    background-color: var(--background-color-secondary);
    padding: var(--spacing-l);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);

    &__author {
        display: flex;
        align-items: center;
        gap: var(--spacing-l);

        &__avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &__details {
            flex: 1;

            &__name {
                font-weight: 500;
                font-size: var(--font-size-l);
                margin-bottom: var(--spacing-xs);
            }

            &__time {
                color: var(--text-color-4);
                font-size: var(--font-size-m);
            }
        }

        &__menu {
            cursor: pointer;
        }
    }

    &__content {
        padding: var(--spacing-m);
        border-radius: var(--border-radius-m);
        background-color: var(--background-color-primary);
        color: var(--text-color-3);
        display: flex;
        gap: var(--spacing-m);

        &__category {
            background-color: #27292D;
            padding: var(--spacing-m);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
        }

        &__text {
            font-size: var(--font-size-l);
            flex: 1;
            background-color: var(--background-color-primary);
            color: var(--text-color-3);
        }
    }

    &__footer {
        &__comments {
            display: flex;
            align-items: center;
            gap: var(--spacing-m);
            font-size: var(--font-size-m);

            span {
                color: var(--text-color-4);
            }
        }
    }
}